{
  "presets": [
    "env",
  ],
  "plugins": [
    "transform-runtime",
    "transform-function-bind",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }]
  ]
}
